{% extends "base.html" %}

{% block title %}WebEm | {{page}}{% endblock %}

{% block nav-mine %}{% if page == 'My Emulations' %}active{% endif %}{% endblock %}
{% block nav-all %}{% if page == 'All Emulations' %}active{% endif %}{% endblock %}

{% block body %}
<h1>{{page}}</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Original URL</th>
			<th>Created</th>
			<th>Updated</th>
			<th>Edit</th>
			<th>My Emulations</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		{% for emulation in emulations %}
		<tr>
			<td>{{emulation.id}}</td>
			<td><a target="_blank" href="/emulations/emulation/{{emulation.id}}/view/">{{emulation.title}}</td>
			<td>{{emulation.page_url}}</td>
			<td>{{emulation.created}} <br/>by {{emulation.creator}}</td>
			<td>{{emulation.updated}} <br/>by {{emulation.updator}}</td>
			<td><a href="/emulation/{{emulation.id}}/edit"target="_blank">edit</a></td>
			<td><a href="/emulation/{{emulation.id}}/myemulations"target="_blank">remove</a></td>
			<td><a href="/emulation/{{emulation.id}}/delete"target="_blank">delete</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}