<html><head><title>test</title></head><body>
<a href="/bill.com">/bill.com</a>
<a src="/bill.com">/bill.com</a>
<a action="/bill.com">/bill.com</a>
<a href="./bill.com">./bill.com</a>
<a src="./bill.com">./bill.com</a>
<a action="./bill.com">./bill.com</a>
<a href="//test.com/script.js">//test.com/script.js</a>
<a href='bill.com'>bill.com</a>
<a href='/bill.com'>/bill.com</a>
<a src='/bill.com'>/bill.com</a>
<a action='/bill.com'>/bill.com</a>
<a href='./bill.com'>./bill.com</a>
<a src='./bill.com'>./bill.com</a>
<a action='./bill.com'>./bill.com</a>
<a href='//test.com/script.js'>//test.com/script.js</a>
<a href='http://test.com/script.js'>//test.com/script.js</a>
<a href='https://test.com/script.js'>//test.com/script.js</a>
<!-- needed -->

<a href='bill.com'>bill.com</a>
<a href='/../../bill.com'>bill.com</a>
<a href='../../bill.com'>bill.com</a>
<a href='./../bill.com'>bill.com</a>
<style>
div {
	background-image: url('../../');
}
</style>

</body></html>